repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: no-commit-to-branch # This hook prevents direct commits to main branch
-   repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    -   id: black
-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
    -   id: conventional-pre-commit
        language_version: python3.11
        stages: [commit-msg]
        args: []
