/ {
    chosen {
        uart-cc1352 = &uart0;
        zephyr,settings-partition = &storage_partition;
    };

    aliases {
        pin-reset = &cc1352_reset;
        pin-boot = &cc1352_boot;
        led0 = &led_0;
        led1 = &led_1;
        led2 = &led_2;
        ctf1 = &ctf1_pin;
        ctf2 = &ctf2_pin;
        ctf3 = &ctf3_pin;
        cjtag0 = &cjtag0;
        cjtag1 = &cjtag1;
        cjtag2 = &cjtag2;
        cjtag3 = &cjtag3;
        lora0 = &sx1262;
    };

    leds {
        compatible = "gpio-leds";
        led_0: led0 {
            gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
            label = "LED1";
        };
        led_1: led1 {
            gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
            label = "LED2";
        };
        led_2: led2 {
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
            label = "LED3";
        };
    };

    gpio_pins {
        compatible = "gpio-leds";

        cc1352_reset: cc1352-reset {
            gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
            label = "CC1352_RESET";
        };
        cc1352_boot: cc1352-boot {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "CC1352_BOOT";
        };
        ctf1_pin: ctf1 {
            gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
            label = "CTF1";
        };
        ctf2_pin: ctf2 {
            gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
            label = "CTF2";
        };
        ctf3_pin: ctf3 {
            gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
            label = "CTF3";
        };

        cjtag0: cjtag0 {
            gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
            label = "CJTAG11";
        };

        cjtag1: cjtag1 {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
            label = "CJTAG12";
        };

        cjtag2: cjtag2 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
            label = "CJTAG13";
        };

        cjtag3: cjtag3 {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
            label = "CJTAG14";
        };

        sx1262_cs_pin: sx1262-cs {
            gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
            label = "SX1262_CS";
        };

        sx1262_reset_pin: sx1262-reset {
            gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
            label = "SX1262_RESET";
        };

        sx1262_busy_pin: sx1262-busy {
            gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
            label = "SX1262_BUSY";
        };

        sx1262_dio1_pin: sx1262-dio1 {
            gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
            label = "SX1262_DIO1";
        };
    };
};

&flash0 {
	partitions {
		/delete-node/ partition@100;

		code_partition: partition@100 {
			label = "code-partition";
			reg = <0x100 0x1eff00>;
			read-only;
		};

		storage_partition: partition@1f0000 {
			label = "storage";
			reg = <0x1f0000 0x10000>;
		};
	};
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Cat-Bridge";
    };

    cdc_acm_uart1: cdc_acm_uart1 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Cat-LoRa";
    };

    cdc_acm_uart2: cdc_acm_uart2 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Cat-Shell";
    };
};

&uart0 {
    current-speed = <921600>;
    status = "okay";
    pinctrl-0 = <&uart0_default>;
    pinctrl-names = "default";
};

// Enable and configure SPI for SX1262
&spi0 {
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;

    sx1262: sx1262@0 {
        compatible = "semtech,sx1262";
        reg = <0>;
        spi-max-frequency = <1000000>;

        reset-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
        busy-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
        dio1-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
    };
};

&pinctrl {
    uart0_default: uart0_default {
        group1 {
            pinmux = <UART0_TX_P0>;
        };
        group2 {
            pinmux = <UART0_RX_P1>;
            input-enable;
        };
    };

    spi0_default: spi0_default {
        group1 {
            pinmux = <SPI0_SCK_P18>, <SPI0_TX_P19>;  // GPIO18=SCK, GPIO19=COPI(MOSI)
        };
        group2 {
            pinmux = <SPI0_RX_P16>;  // GPIO16=CIPO(MISO)
            input-enable;
        };
    };
};


/*
 * ACTUAL PIN MAPPING FROM CATSNIFFER SCHEMATIC:
 *
 * SX1262 Signal  | Pico GPIO | Pico Pin | Function
 * ---------------|-----------|----------|----------
 * CS             | GPIO17    | Pin 22   | SPI Chip Select (JTAG/TDO when JTAG not used)
 * SCK            | GPIO18    | Pin 29   | SPI Clock
 * MOSI (COPI)    | GPIO19    | Pin 30   | SPI Master Out
 * MISO (CIPO)    | GPIO16    | Pin 27   | SPI Master In
 * RESET          | GPIO24    | Pin 36   | Reset (active low) -> RESET_SX
 * BUSY           | GPIO5     | Pin 6    | Busy indicator
 * DIO1           | GPIO6     | Pin 7    | Interrupt output
 *
 * Note: COPI = Controller Out Peripheral In (MOSI)
 *       CIPO = Controller In Peripheral Out (MISO)
 */
